<a href="https://colab.research.google.com/github/emmynuel/Data-Analysis--Partner/blob/main/GTb_Reconciliation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/My Drive" | grep ABUJA

ABUJA DISCO COLLECTIONS SUSP (1).csv
ABUJA DISCO COLLECTIONS SUSP (2).csv
ABUJA DISCO COLLECTIONS SUSP (52).csv
ABUJA DISCO COLLECTIONS SUSP.csv

In [ ]:
import pandas as pd
# import mysql.connector
def pullDataFromBQ(query):
    project_id = 'buypower-mobile-app'
    df = pd.io.gbq.read_gbq(query, project_id=project_id)
    return df

In [ ]:
import glob
import os
import pandas as pd

folder_name = '/content/drive/My Drive'
file_type = 'csv'
print(glob.glob(folder_name + "/ABUJA*SUSP *(1)*."+file_type))

gt_data = pd.concat([pd.read_csv(f) for f in glob.glob(folder_name + "/ABUJA*SUSP *1)*."+file_type) ],ignore_index=True)

gt_data.shape

['/content/drive/My Drive/ABUJA DISCO COLLECTIONS SUSP (1).csv']

(122928, 7)

In [ ]:
gt_data = pd.read_csv('/content/drive/My Drive/ABUJA DISCO COLLECTIONS SUSP (2).csv')
gt_data.head()

    Trans Date  ...                                            Remarks
0  04-Jan-2022  ...  OWN ACCOUNT TRANSFER 335642735166|25113877598|...
1  04-Jan-2022  ...  OWN ACCOUNT TRANSFER 424438281211|04176783910|...
2  04-Jan-2022  ...  OWN ACCOUNT TRANSFER 511677924767|010119000521...
3  04-Jan-2022  ...  OWN ACCOUNT TRANSFER 827315817764|04136359439|...
4  04-Jan-2022  ...  OWN ACCOUNT TRANSFER 413299646617|04181413461|...

[5 rows x 7 columns]

In [ ]:
bp_gt_data = pd.read_csv('/content/drive/My Drive/buypower__2021-12-17_to_2022-01-03.csv')
bp_gt_data

                      Date  ...                                          Remarks_x
0      2021-12-17 00:05:59  ...  234987453883 | 62141359232 | 08036360067 |  | ...
1      2021-12-17 00:07:05  ...  484217353379 | 62418682118 | 08057536053 |  | ...
2      2021-12-17 00:10:11  ...  886162572734 | 04182698813 | 08162323782 | Und...
3      2021-12-17 00:12:03  ...  578127449416 | 54140821858 | 08121344863 | OSU...
4      2021-12-17 00:13:47  ...  217346619627 | 14200000488 | 08035878614 | NO....
...                    ...  ...                                                ...
15729  2022-01-03 23:57:03  ...  946346364953 | 07083084298 | 08134319669 |  | ...
15730  2022-01-03 23:57:03  ...  256264181942 | 0159001369952 | 07034593959 |  ...
15731  2022-01-03 23:58:58  ...  183355651559 | 62141258749 | 08166901777 | 3, ...
15732  2022-01-03 23:59:06  ...  644165784551 | 62180123572 | 08167551848 |  | ...
15733  2022-01-03 23:59:13  ...  239522472935 | 62419137864 | 08023711738 | 15,...

[15734 rows x 8 columns]

In [ ]:
gt_data.head()

    Trans Date  ...                                            Remarks
0  23-Nov-2021  ...  OWN ACCOUNT TRANSFER 889815559698|07081116928|...
1  23-Nov-2021  ...  OWN ACCOUNT TRANSFER 827234749939|013720010922...
2  23-Nov-2021  ...  OWN ACCOUNT TRANSFER 932425563929|45700442358|...
3  23-Nov-2021  ...  OWN ACCOUNT TRANSFER 881688627271|30530291431|...
4  23-Nov-2021  ...  OWN ACCOUNT TRANSFER 884586866165|62120100656|...

[5 rows x 7 columns]

In [ ]:

i = []
j = []

for x in range(gt_data['Trans Date'].size):
    if len(str(gt_data.loc[x,'Trans Date'])) >= 20:
        i.append(gt_data.loc[x,'Trans Date'])
        j.append(x)
        

f = pd.DataFrame(i)
f.to_csv('Error Remarks.csv',index=False)
gt_data = gt_data.drop(j).reset_index(drop=True)
gt_data.head()

    Trans Date  ...                                            Remarks
0  15-Dec-2021  ...  OWN ACCOUNT TRANSFER 651214875771|45022111988|...
1  15-Dec-2021  ...  737 MERCHANT PAYMENTS 492198262972|45701387982...
2  15-Dec-2021  ...  737 MERCHANT PAYMENTS 538878799728|01790001671...
3  15-Dec-2021  ...  OWN ACCOUNT TRANSFER 433869781715|010116039332...
4  15-Dec-2021  ...  OWN ACCOUNT TRANSFER 231769814298|04185339027|...

[5 rows x 7 columns]

In [ ]:
#Preserve this format, thats the format GT Bank wants

start_date = '2021-12-17'
end_date = '2022-01-03'
query = f'''







with all_payments as 

    (SELECT timestamp_trunc(datetime(pt.created_at, "Africa/Lagos") ,second) as Date, vr.payment_reference as Ref, pt.phone as Phone, 
    cast(pt.amount as float64) as Amount,
    case when pt.disco_code in ("PHISBOND", "PROTOGY", "ACCESSPOWER", "BH") then "ABUJA" else pt.disco_code end as  DisCo,  vr.token as token, pt.meter_no as Meter ,pt.payment_type , pt.channel , 
    pt.generated_by , pt.order_id , pt.meter_no 
    FROM views.payment_transactions pt join views.transaction_vend_response vr on pt.order_id = payment_reference 
    where date(pt.created_at, "Africa/Lagos") between "{start_date}" and "{end_date}" ),


online_offline as 
    (select * from all_payments where payment_type in ('ONLINE','OFFLINE')), 
    
apix_ as 
    (select * from all_payments where channel = "APIX" and generated_by = 1253797 and payment_type not in ('ONLINE','OFFLINE')),
    
cleaned_data as (
select pt.* except (rn), concat(pt.order_id  ,' | ', pt.meter_no   , ' | ', pt.phone ,' | ',
case when ms.customer_address is null then '' else ms.customer_address end  , ' | ', pt.amount , ' | ', pt.payment_type ) as Remarks  
from 
  (
    select *, ROW_NUMBER() over(partition by order_id )  as rn 
    from 
      (
        select * from apix_ ap 
        union all 
        (select * from online_offline) 
       ) 
   ) pt 
  left join 
  (
   select * 
   from 
      (
        select  meter_no, customer_address,  ROW_NUMBER() over(partition by meter_no )  as rnn 
        from dev_data.meter_store
      ) 
    where rnn = 1
   )
 ms on ms.meter_no = pt.meter_no 
 and rn =1
),

corrected_data as (

  select * except (rn, payment_type, channel, generated_by, order_id, meter_no) from (
    select *, ROW_NUMBER() over (partition by Ref) as rn 
    from cleaned_data 
    )
  where rn = 1
  )

select *  from corrected_data
order by Date asc






'''.format(start=start_date,end=end_date)

bp_gt_data = pullDataFromBQ(query)
bp_gt_data.head()

NameError: ignored

In [ ]:
bp_gt_data.Date.max()

Timestamp('2022-01-03 23:59:13')

In [ ]:
#Pull out payment reference, amount and remarks from gt's data. payment reference and order id are used 
#interchangably in buypower

def helper(arr):
    x = str(arr).split('|')
    return x[0].split()[-1]
# gt_data_temp = gt_data[['CREDIT_AMT','REMARKS','TRA_DATE']]

gt_data_temp = gt_data[['Credit','Remarks','Trans Date']]

gt_data_temp['ORDER_ID'] = gt_data_temp['Remarks'].apply(helper)
# gt_data_temp.columns = ['Credit', 'REMARKS', 'Trans Date', 'ORDER_ID']
gt_data_temp.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

        Credit  ...      ORDER_ID
13629  9880.00  ...  745316179582
13630  1485.00  ...  143897236543
13631  2462.50  ...  938636734772
13632  1477.50  ...  794486254376
13633           ...           TEC

[5 rows x 4 columns]

In [ ]:
bp_gt_data.Ref = bp_gt_data.Ref.astype(str)

In [ ]:
#Merge the two dfs
all_data = pd.merge(bp_gt_data,gt_data_temp,how='outer',left_on='Ref',right_on='ORDER_ID',indicator=True)

In [ ]:
#Seperate into three DFs
both_have = all_data[all_data['_merge'] == 'both']
bp_only = all_data[all_data['_merge'] == 'left_only']
gt_only = all_data[all_data['_merge'] == 'right_only']

In [ ]:
def get_date(x):
    value = 0
    try:
        value = int(x.split('-')[0])
    except: pass
    return value

In [ ]:
gt_only[(gt_only['Trans Date'].apply(get_date)  <= 16) & (~gt_only['Trans Date'].str.contains('Jan'))]

      Date  Ref Phone  ...       Trans Date      ORDER_ID      _merge
38693  NaT  NaN   NaN  ...      15-Dec-2021  651214875771  right_only
38694  NaT  NaN   NaN  ...      15-Dec-2021  492198262972  right_only
38695  NaT  NaN   NaN  ...      15-Dec-2021  538878799728  right_only
38696  NaT  NaN   NaN  ...      15-Dec-2021  433869781715  right_only
38697  NaT  NaN   NaN  ...      15-Dec-2021  231769814298  right_only
...    ...  ...   ...  ...              ...           ...         ...
43795  NaT  NaN   NaN  ...      16-Dec-2021  878287881616  right_only
43796  NaT  NaN   NaN  ...      16-Dec-2021  563543451756  right_only
43797  NaT  NaN   NaN  ...      16-Dec-2021  559224875491  right_only
48116  NaT  NaN   NaN  ...  .|No1chief Fred           nan  right_only
48117  NaT  NaN   NaN  ...  .|No1chief Fred           nan  right_only

[5088 rows x 13 columns]

In [ ]:
print(bp_only.shape, gt_only.shape, both_have.shape)

(3071, 13) (971, 13) (12663, 13)

In [ ]:
bp_only[bp_only.DisCo.isin(["ACCESSPOWER","BH", "Protogy", "PhisBond"])]

Empty DataFrame
Columns: [Date, Ref, Phone, Amount, DisCo, token, Meter, Remarks_x, Credit, Remarks, Trans Date, ORDER_ID, _merge]
Index: []

In [ ]:
bp_only

                      Date           Ref  ... ORDER_ID     _merge
0      2021-12-17 00:05:59  234987453883  ...      NaN  left_only
1      2021-12-17 00:07:05  484217353379  ...      NaN  left_only
3      2021-12-17 00:12:03  578127449416  ...      NaN  left_only
5      2021-12-17 00:16:37  553383351554  ...      NaN  left_only
6      2021-12-17 00:23:26  667362913919  ...      NaN  left_only
...                    ...           ...  ...      ...        ...
15720  2022-01-03 23:32:37  242218943267  ...      NaN  left_only
15730  2022-01-03 23:57:03  256264181942  ...      NaN  left_only
15731  2022-01-03 23:58:58  183355651559  ...      NaN  left_only
15732  2022-01-03 23:59:06  644165784551  ...      NaN  left_only
15733  2022-01-03 23:59:13  239522472935  ...      NaN  left_only

[3071 rows x 13 columns]

In [ ]:
#Select required columns and prepend underscore to prevent excel deleting leading zeros from columns
cols = ['Date', 'Ref', 'Phone', 'Amount', 'DisCo', 'token', 'Meter', 'Remarks_x']
bp_only = bp_only[cols]
bp_only['Phone'] = '_' + bp_only['Phone']
bp_only['token'] = '_' + bp_only['token']
bp_only['Meter'] = '_' + bp_only['Meter']
bp_only = bp_only.sort_values(by='Date')
bp_only.to_csv('buypower__{}_to_{}new.csv'.format(start_date,end_date),index=False)

In [ ]:
bp_only['Amount'].sum()

11403534.0

In [ ]:
!cp /content/buypower__2021-12-17_to_2022-01-03new.csv /content/drive/My\ Drive/

In [ ]:
#select required columns and remove noise rows from GT data eg "DAILY SI SWEEP FRM GTB IMPERSONAL LEDGERS TO  DATAPEX DRIFTY TEC"

gt_only = gt_only[['ORDER_ID','TRA_DATE','CREDIT_AMT','REMARKS']]
refs = [x for x in gt_only['ORDER_ID'].tolist() if len(x) < 20]
#Extract references and check bigquery for those transactions details if they exist and the date when they occurred
query = '''
select date(timestamp_millis(vr.created_at)) as buypower_date, payment_reference from `dev_data.transaction_vend_response` vr where vr.payment_reference in {}
'''.format(tuple(refs))
temp = pullDataFromBQ(query)

#Format columns properly and write to disk
gt_only = pd.merge(gt_only,temp,left_on='ORDER_ID',right_on='payment_reference')
gt_only = gt_only[['ORDER_ID',	'TRA_DATE','buypower_date',	'CREDIT_AMT',	'REMARKS']]
gt_only.to_csv('gt_only_july_1_to_july_31.csv',index=False)
gt_only.head()

[]

       ORDER_ID  ...                                            REMARKS
0  621318333449  ...  621318333449|45051187347|ENUGU|PREPAID|200|Ike...
1  415989295448  ...  415989295448|0124000613255|PH|PREPAID|200|UMO ...
2  959366836967  ...  959366836967|01455346468|PH|PREPAID|200|HON SU...
3  141846254846  ...  141846254846|45028883820|ENUGU|PREPAID|200|Oko...
4  797226257329  ...  797226257329|610124001133931|PH|PREPAID|200|MR...

[5 rows x 5 columns]

In [ ]:
#Download the csv files and send to tosin and paschal or copy to drive

In [ ]:
!cp '/content/buypower__2021-09-4_to_2021-10-19.csv' '/content/drive/MyDrive'

In [ ]:
"Knearestneighbor".split('n')

['K', 'earest', 'eighbor']

In [ ]:
bp_only[bp_only['token']=='000']

Empty DataFrame
Columns: [Date, Ref, Phone, Amount, DisCo, token, Meter, Remarks_x]
Index: []

In [ ]:
bq_data = pullDataFromBQ('select payment_reference, count(distinct token )  num_of_token from dev_data.transaction_vend_response where date(timestamp_millis(created_at)) between "2021-05-1" and "2021-05-27" group by payment_reference')

In [ ]:
gt_data = pd.read_excel("/content/GTBANK VARIANCE.xlsx", skiprows=1)

In [ ]:
gt_data['Order Id'] = gt_data['Order Id'].astype(str)

In [ ]:
check = pd.merge(gt_data, bq_data, left_on = "Order Id", right_on = "payment_reference", how= "left", indicator = True)

In [ ]:
check[check._merge == 'both'][check.num_of_token >1 ]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Date, Order Id, Transaction Counts, Total Amount Paid, Exposure , payment_reference, num_of_token, _merge]
Index: []

In [ ]:
bp_only

                     Date  ...                                          Remarks_x
677   2021-10-03 13:35:59  ...  285258927226 | 0124000736767 | 08025350518 |  ...
895   2021-10-03 15:40:40  ...  218674215829 | 95300221637 | 08036320277 | FLT...
897   2021-10-03 15:43:22  ...  824466617455 | 45050649263 | 08139511796 |  | ...
1006  2021-10-03 16:46:43  ...  446738447192 | 95500036520 | 08035335314 | 5 P...
1129  2021-10-03 17:50:10  ...  747221436963 | 0124000670024 | 08032900661 | I...
...                   ...  ...                                                ...
51901 2021-10-26 23:41:08  ...  523596428392 | 45060197584 | 07033774021 |  | ...
51903 2021-10-26 23:42:31  ...  925827942574 | 14260467262 | 08023406761 |  | ...
51907 2021-10-26 23:51:18  ...  656747696236 | 07127021157 | 07051441280 |  | ...
51910 2021-10-26 23:56:36  ...  219636825455 | 45701454592 | 08121733305 |  | ...
51914 2021-10-26 23:59:48  ...  534588388372 | 23100382953 | 09039324888 | NO ...

[8778 rows x 8 columns]

In [ ]:
bp_gt_data

                     Date  ...                                            Remarks
0     2021-09-04 00:01:30  ...  968311225186 | 95500043195 | 09099119990 |  | ...
1     2021-09-04 00:02:46  ...  178276343321 | 04160110831 | 08036391630 |  | ...
2     2021-09-04 00:05:56  ...  995719945734 | 04177240803 | 08068831991 | RD ...
3     2021-09-04 00:08:10  ...  618542581765 | 54161026320 | 07030134593 |  | ...
4     2021-09-04 00:09:22  ...  179446595469 | 30510098806 | 08032106131 |  | ...
...                   ...  ...                                                ...
86086 2021-10-19 23:56:07  ...  966678569958 | 0101160358160 | 08030630795 |  ...
86087 2021-10-19 23:57:31  ...  874782241581 | 62418508453 | 07033361795 | NO ...
86088 2021-10-19 23:58:03  ...  617486286465 | 45060447013 | 08064452394 | 22 ...
86089 2021-10-19 23:58:06  ...  428589337185 | 04178551893 | 08023166971 |  | ...
86090 2021-10-19 23:58:25  ...  127628515817 | 62130874035 | 09059550478 | Und...

[86091 rows x 8 columns]